
body{
    background-color: wheat;
}
/*pai*/
ul{
    background-color:saddlebrown ;
}
/*filho*/
li{
    background-color: slategray;
}

li a{
    background-color: brown;
}
/*neto*/
ul li a{
    background-color:skyblue ;
}